body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
}

header {
    padding: 20px 10px;
    text-align: center;
}
main {
    border:1px solid #000;
    height: 85vh;
    background-color: #312e2e;
    position: relative;
}
.inner {
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: #a9a9a9a9;
    display: flex;
}
.block{
    width: 15%;
    height: 7%;
    position: absolute;
    background-color: #f0f0f0;
}
.bar {
    width: 20%;
    height: 5%;
    z-index: 1;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
}
.ball {
    width: 45px;
    height: 45px;
    background-color: cornflowerblue;
    border-radius: 50%;
    bottom: 33%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.game-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    /* display: none; */
}
.game-over {
    display: none !important;
    font-size: 5rem;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.3);
}
.game-clear {
    display: none;
    font-size: 5rem;
    background-color: rgba(29, 144, 144, 0.3);
    padding: 20px;
}

.start {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateX(-50%);
}
.start > button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition:all .3s;
    border-radius: 5px;
}
.start button:hover {
    background-color: #56b0c9;
    
}
.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    color: #f0f0f0;
    background-color: #312e2e;
    padding: 5% 10%;
    transition: all .3s;
}