body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
}

header {
    padding: 20px 10px;
    text-align: center;
}
main {
    border:1px solid #000;
    height: 85vh;
    background-color: #312e2e;
    position: relative;
}
.inner {
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: #a9a9a9a9;
    display: flex;
}
.block{
    width: 15%;
    height: 7%;
    position: absolute;
    background-color: #f0f0f0;
}
.bar {
    width: 20%;
    height: 5%;
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
}
.ball {
    width: 5%;
    height: 5%;
    background-color: cornflowerblue;
    border-radius: 50%;
    bottom: 15%;
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
}
footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}